$ui-base-color: #6a5262; // darkest #1
$ui-highlight-color: #ffcdc5; // vibrant #3
$ui-secondary-color: #ffffff; // lightest #7
$ui-primary-color: #ffaca4; // lighter #0
$ui-primary-color-alt: #a41020; // darker, for external pages #2

$about-page-text: lighten($ui-base-color, 50%);

@import 'application';

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('ComicNeue'),
  url('../fonts/comicneue/ComicNeue-Light.woff2') format('woff2'),
  url('../fonts/comicneue/ComicNeue-Light.woff') format('woff'),
  url('../fonts/comicneue/ComicNeue-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('ComicNeue'),
  url('../fonts/comicneue/ComicNeue-Light.woff2') format('woff2'),
  url('../fonts/comicneue/ComicNeue-Light.woff') format('woff'),
  url('../fonts/comicneue/ComicNeue-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('ComicNeue'),
  url('../fonts/comicneue/ComicNeue-Light.woff2') format('woff2'),
  url('../fonts/comicneue/ComicNeue-Light.woff') format('woff'),
  url('../fonts/comicneue/ComicNeue-Light.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('ComicNeue'),
  url('../fonts/comicneue/ComicNeue-Light.woff2') format('woff2'),
  url('../fonts/comicneue/ComicNeue-Light.woff') format('woff'),
  url('../fonts/comicneue/ComicNeue-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
