// http://pokepalettes.com/#pikachu
$ui-base-color: #623108; // darkest #4
$ui-highlight-color: #de9400; // vibrant #3
$ui-secondary-color: #fff6a4; // lightest #7
$ui-primary-color: #f6e652; // lighter #0
$ui-primary-color-alt: #f6bd20; // darker, for external pages #0

$about-page-text: lighten($ui-base-color, 50%);

@import 'application';
